h1 {
  text-align: center;
}

input {
  text-align: center;
  margin: auto;
  display: flex;
}

button {
  margin: auto;
  text-align: center;
  display: flex;
}

/* #addButton {
  text-align: center;
  margin: auto;
  display: flex;
}

#removeButton {
  text-align: center;
  margin: auto;
  display: flex;
} */
